html, body, .root {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, .app {
  background: #fff;
}

#container {
  margin: 0;
  padding: 0;
  display: flex;
}

#map {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 75%;
  margin: 0;
}

.options-box {
  height: 100vh;
  width: 25%;
  padding: 1em;
  text-align: center;
  color: #7e8ea5;
  background: #f9f9f9;
}

.search-box {
  width: 70%;
  background-color: #f9f9f9;
  border-radius: 0.4em;
  padding: 0.4em;
}

.search-box::placeholder {
  color: #ccc;
}

.search-box:hover {
  background-color: #fff;
  font-style: italic;
}

.list {
  list-style-type: none;
  text-align: left;
  font-size: 1.2em;
  padding: 0.5em;
  margin: 0;
}

.list li {
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin: 0.7em 0 0.7em 0;
  color: #7e8ea5;
  cursor: pointer;
  width: 85%;
  border-radius: 1em;
  border: solid 0.1em;
  border-color: #F0F2F5;
}

.list li:hover {
  background-color: #E2E5EB;
  color: #545E6E;
}

.selectedItem {
  background-color: #EBE5E2;
}