html, body, .root {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, .app {
  background: #fff;
}

#container {
  margin: 0;
  padding: 0;
  display: flex;
}

#map {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 75%;
  margin: 0;
}

.options-box {
  height: 100vh;
  width: 25%;
  padding: 1em;
  text-align: center;
  color: #7e8ea5;
  background: #f9f9f9;
}